.container {
	position: relative;
}

.select {
	padding: 8px 16px;
	border-radius: 12px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}

.select:hover {
	border-color: #888;
	background-color: #f9f9f9;
}

.invalid {
	border: 1px solid #e63946;
	background-color: #ffe5e5;
}

.disabled {
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	pointer-events: none;
	color: #aaa;
}

.options {
	position: absolute;
	top: 100%;
	left: 0;
	background: white;
	border: 1px solid #ddd;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
}

.option {
	padding: 8px;
	cursor: pointer;
}

.option:hover {
	background: #f0f0f0;
}

.selected {
	font-weight: bold;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
