.header {
	border-bottom: 1px solid #ccc;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

.containerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listStyle {
	display: flex;
	gap: 15px;
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		font-weight: bold;
		font-size: 19px;
		text-decoration: none;
		color: black;

		&:hover {
			color: #00b0c8;
		}

		&:focus,
		&:active &:visited {
			color: #9efe8b;
		}
	}
}
